@model AddImageModel

<h2>Add Image</h2>

<div class="container mt-3">
    <form method="post" action="@Url.Action("UploadImage", "PropertyManagement")" enctype="multipart/form-data">
 
        <input type="hidden" name="propertyId" value="@Model.PropertyId" />

        <div class="form-group">
            <label for="Image">Select Image:</label>
            <input type="file" name="Image" id="Image" class="form-control-file" />
        </div>

        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>
</div>