@model Domain.Entities.Booking

<h2>Booking Successful</h2>
<p>Your booking ID is: @Model.BookingId</p>
<p>Email: @Model.UserEmail</p>

<a href="@Url.Action("ListAll", "PropertyListing")" class="btn btn-primary">Go to List All</a>