@model IEnumerable<PropertyListingModel>

<div class="container col-12">
    @await Component.InvokeAsync("SearchProperties")

    <h3 class="mt-4">List of Properties</h3>

    <div class="row">
        @foreach (var property in Model)
        {
            <div class="col-4">
                @Html.Partial("_PropertyCard", property)
            </div>
        }
    </div>
</div>