@model IEnumerable<Domain.Entities.Property>

<div class="container mt-4">
    @await Component.InvokeAsync("SearchProperties")
    <h2>List of Properties</h2>

    @foreach (var property in Model)
    {
        @Html.Partial("_PropertyCard", property)
    }
</div>